APP_NAME=commune

DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=commune
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci
DB_PREFIX=

REDIS_HOST=localhost
REDIS_AUTH=
REDIS_PORT=6379
REDIS_DB=0


DUEROS_DEBUG = false
DUEROS_PRIVATE_KEY=

APP_TCP_IP=9501
APP_MAZE_IP=9502
APP_STORY_IP=9503
