v-application code {

	display: block!important;
    background-color: #232323 !important;
    color: #e6e1dc !important;
    font-size: 100%!important;
    border-radius: none !important;
    font-weight: 400 !important;
}